@page
@model Cosmetic_Store.Pages.Admin.IndexModel
@{
}

<div class="container" style="padding-top:65px">
    <h1>
        Hello Administrator!
    </h1>
    <div class="row  text-center">
        <div class="col">
            <a href="/Inventory">
                <img src="/images/ProductManagement.png" style="width:300px; height:300px" alt="...">
            </a>
        </div>
        <div class="col">
            <a href="/Orders">
                <img src="/images/OrderManagement.jpeg" style="width:300px; height:300px" alt="...">
            </a>
        </div>
    </div>
</div>

