@model Cosmetic_Store.Models.Product


<form class="form-horizontal" asp-controller="Product" asp-action="Create" method="post" style="padding-top:80px" enctype="multipart/form-data">       
<fieldset>

<!-- Form Name -->
<legend>Create a new product</legend>
  <partial name="_ProductFields"></partial>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
            <button type="submit" class="btn btn-outline-success "> Create </button>
            <a asp-controller = "Product" asp-action= "Index"> Back</a>  </div>
    </div>
    
@*  <partial name="SelectCate"></partial>
*@

</fieldset>
</form>

<div asp-validation-summary="All"></div>